body.load{
	background:url(../img/bg.png) repeat-y 0 0 transparent;
	background-size:100% auto;
	font-family: '微软雅黑';
}

#load{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:absolute;

	background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));  

	color:red;
	font-size:32px;
	font-weight:bold;
	
}
#load .frame{
	font-family: 'Lovers Quarrel', cursive;
	width:45%;
	height:25%;
	border:3px solid red;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;

	position:absolute;
	top:0;
	left:0;

	padding:25px;
}

#load .toyou{
	display:block;
	width:100%;
	overflow:hidden;
}
#load .right{
	display:block;
	float:right;
	margin-right:20px;


}

#load .bar{
	width:100%;
	height:25%;

	border:2px solid red;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;

	margin:8px 0;
	padding:1px;

	position:relative;
}
#load .handle{
	
	background:red;
	height:100%;
	width:0;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	overflow:hidden;
}


#main{
	display:none;
/*
	background:url(../img/bg.png) repeat-y 0 0 transparent;
	background-size:100% auto;
	background-color:red;*/
}

#content{
	list-style: none outside none;
    margin: 0;
    padding: 0;
}

#content li{
	width:100%;
	height:100%;
	overflow: hidden;
}

#happy{
	background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
}

/*#happy .canvas{
	width:100%;
	height:100%;
	background:url(../img/hpvd.png) no-repeat center center transparent;
	background-size:70% auto;
}*/

#hpvd{
	display:block;
	margin:50px auto 0;
	width:auto;
	height:80%;
	
}
#toname{
	font-family: 'Lovers Quarrel', '微软雅黑';
	color:white;
	font-size:36px;
	text-align:left;
	position:absolute;
	top:5%;
}

#catren{
	margin: 100px auto 0;
    width: 20%;
}
#catren img{
	width:100%;
}
.slide{
	position:relative;
	display:block;
	width:100%;
	height:588px;
	background:url("../img/bg.png") no-repeat fixed 50% 0 transparent;
	background-size:150%;
	overflow:hidden;
}
.canvas{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
#first{
	height:1800px;
	background-color:#66CAC9;
}
#catdiag{
	width:70%;
	margin:0 auto;
	position:relative;
}
#diag1{
	width:24px;
	height:24px;
	background:#E1E1E1;

	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	position:absolute;
	left:48%;
	top:25px;

}
#diag2{
	width:40px;
	height:40px;
	background:#EAEAEA;

	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	
	position:absolute;
	left:45%;
	top:50px;
}

#diag3{
	position:absolute;
	left:0;
	top:120px;

	width:100%;
	height:1200px;

	background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(255,255,255,1) 100%); /* W3C */


	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}

#message1,#message2{
	font-family: '微软雅黑';
	color:#64bac9;
	font-weight:bold;
	font-size:24px;
	text-align:center;
	margin:10px auto;
}


.page{
	width:200px;
	height:200px;
	position:absolute;

	background:#78a1d9;
	-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	
}

.page:after {
    width: 100px;
    height: 30px;
    content: " ";
    margin-left: -50px;
    border: 1px solid rgba(200, 200, 200, .8);
    background: rgba(254, 254, 254, .6);

    -moz-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.1);

    -moz-transform: rotate(-5deg); 
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);

    position: absolute;
    left: 50%;
    top: -15px;
}

.page h2{
	text-align:center;
	font-size:20px;
	color:white;
	font-family: '微软雅黑';
}
.page img{
	display:block;
	margin: 0 auto;
	width:120px;
	height:120px;
}
#tip1{
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	transform: rotate(4deg);

	left:35%;
	top:140px;
}


#tip2{
	-o-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	transform: rotate(-6deg);

	left:70%;
	top:400px;
}


#tip3{
	left:10%;
	top:500px;
}

#tip4{
	-o-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);

	left:50%;
	top:650px;
}
#tip5{
	-o-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	transform: rotate(-4deg);

	left:20%;
	top:800px;
}
#summary{
	background:url(../img/summary.jpg) no-repeat;
	width:300px;
	height:300px;
	position:absolute;
	bottom:20px;
	right:50px;
}
#second{
	height:900px;
	background-color:#F90F49;
}

#second img{
	display:block;
	margin:20px auto;
}



